


        .icon {
            background-image: url('/assets/images/sprites/sprite-ef604491.svg');
        }


    .icon--clear-view-escapes {
        width: 143px;
        height: 60px;
        background-position: 0 0;
    }



    .icon--comment {
        width: 64px;
        height: 64px;
        background-position: 100% 0;
    }



    .icon--facebook {
        width: 21.23px;
        height: 42.01px;
        background-position: 26.040607071652357% 46.15739672282483%;
    }



    .icon--fire {
        width: 56px;
        height: 64px;
        background-position: 0 100%;
    }



    .icon--globe {
        width: 64px;
        height: 64px;
        background-position: 27.586206896551722% 100%;
    }



    .icon--instagram {
        width: 42.01px;
        height: 42.01px;
        background-position: 63.558380372460995% 49.234556504346486%;
    }



    .icon--mail {
        width: 64px;
        height: 48px;
        background-position: 0 48.38709677419355%;
    }



    .icon--rain {
        width: 64px;
        height: 64px;
        background-position: 100% 59.25925925925926%;
    }



    .icon--star {
        width: 64px;
        height: 64px;
        background-position: 59.11330049261084% 100%;
    }



    .icon--twitter {
        width: 51.78px;
        height: 42.06px;
        background-position: 94.32208902518353% 98.50700323226104%;
    }



    .icon--wifi {
        width: 60px;
        height: 64px;
        background-position: 69.08212560386474% 0;
    }



    .icon--youtube {
        width: 34.75px;
        height: 42px;
        background-position: 36.69752421959096% 46.15384615384615%;
    }
