


        .icon {
            background-image: url('/assets/images/sprites/sprite-1f58224b.svg');
        }


    .icon--clear-view-escapes {
        width: 143px;
        height: 60px;
        background-position: 0 0;
    }



    .icon--comment {
        width: 64px;
        height: 64px;
        background-position: 0 100%;
    }



    .icon--dream-vacation-logo {
        width: 143px;
        height: 60px;
        background-position: 0 31.914893617021278%;
    }



    .icon--facebook {
        width: 21.23px;
        height: 42.01px;
        background-position: 99.75778436434331% 82.55740569930579%;
    }



    .icon--fire {
        width: 56px;
        height: 64px;
        background-position: 21.50537634408602% 65.21739130434783%;
    }



    .icon--globe {
        width: 64px;
        height: 64px;
        background-position: 42.80442804428044% 65.21739130434783%;
    }



    .icon--instagram {
        width: 42.01px;
        height: 42.01px;
        background-position: 92.49462438991091% 82.55740569930579%;
    }



    .icon--mail {
        width: 64px;
        height: 48px;
        background-position: 76.38376383763837% 32%;
    }



    .icon--money {
        width: 64px;
        height: 64px;
        background-position: 76.38376383763837% 60.869565217391305%;
    }



    .icon--network {
        width: 64px;
        height: 64px;
        background-position: 52.76752767527675% 0;
    }



    .icon--package {
        width: 64px;
        height: 64px;
        background-position: 23.616236162361623% 100%;
    }



    .icon--rain {
        width: 64px;
        height: 64px;
        background-position: 47.23247232472325% 100%;
    }



    .icon--reliable {
        width: 64px;
        height: 64px;
        background-position: 70.84870848708488% 100%;
    }



    .icon--resource {
        width: 64px;
        height: 64px;
        background-position: 100% 0;
    }



    .icon--star {
        width: 64px;
        height: 64px;
        background-position: 100% 34.78260869565217%;
    }



    .icon--tour {
        width: 64px;
        height: 64px;
        background-position: 76.38376383763837% 0;
    }



    .icon--twitter {
        width: 51.78px;
        height: 42.06px;
        background-position: 95.68533295671209% 62.15402544430417%;
    }



    .icon--wifi {
        width: 60px;
        height: 64px;
        background-position: 0 65.21739130434783%;
    }



    .icon--youtube {
        width: 34.75px;
        height: 42px;
        background-position: 47.626977518734385% 31.067961165048544%;
    }
