


        .icon {
            background-image: url('../../assets/images/sprites/sprite-d3132ede.svg');
        }

        .no-svg .icon {
            background-image: url('../../assets/images/sprites/sprite-d3132ede.png');
        }


    .icon--comment {
        width: 66px;
        height: 66px;
        background-position: 62.55924170616114% 73.98843930635839%;
    }



    .icon--dream-vacation-logo {
        width: 145px;
        height: 62px;
        background-position: 0 0;
    }



    .icon--facebook {
        width: 23.23px;
        height: 44.01px;
        background-position: 17.3424754699137% 99.49228165546951%;
    }



    .icon--instagram {
        width: 44.01px;
        height: 44.01px;
        background-position: 0 99.49228165546951%;
    }



    .icon--mail {
        width: 66px;
        height: 50px;
        background-position: 68.72037914691943% 34.92063492063492%;
    }



    .icon--money {
        width: 66px;
        height: 66px;
        background-position: 0 73.98843930635839%;
    }



    .icon--network {
        width: 66px;
        height: 66px;
        background-position: 31.27962085308057% 73.98843930635839%;
    }



    .icon--package {
        width: 66px;
        height: 66px;
        background-position: 0 35.83815028901734%;
    }



    .icon--reliable {
        width: 66px;
        height: 66px;
        background-position: 100% 0;
    }



    .icon--resource {
        width: 66px;
        height: 66px;
        background-position: 100% 38.15028901734104%;
    }



    .icon--star {
        width: 66px;
        height: 66px;
        background-position: 68.72037914691943% 0;
    }



    .icon--tour {
        width: 66px;
        height: 66px;
        background-position: 31.27962085308057% 35.83815028901734%;
    }



    .icon--twitter {
        width: 53.78px;
        height: 44.06px;
        background-position: 94.52558014514828% 67.71314250538627%;
    }



    .icon--youtube {
        width: 36.75px;
        height: 44px;
        background-position: 27.987513007284075% 99.48717948717949%;
    }
